# packages

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.reset_option("all")

# creating dataframe

In [3]:
df1 = pd.DataFrame.from_dict({'col1':[1,2,3,4,5,6],
                             'col2':[5,6,7,8,9,10]})
df1

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8
4     5     9
5     6    10

In [4]:
df2 = pd.DataFrame.from_records([{'col_1': 3, 'col_2': 'a'},
        {'col_1': 2, 'col_2': 'b'},
        {'col_1': 1, 'col_2': 'c'},
        {'col_1': 0, 'col_2': 'd'}])
df2

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [5]:
df2.values # 2d numpy array

array([[3, 'a'],
       [2, 'b'],
       [1, 'c'],
       [0, 'd']], dtype=object)

In [6]:
df2.columns

Index(['col_1', 'col_2'], dtype='object')

In [7]:
df2.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
df2.index.tolist()

[0, 1, 2, 3]

# pandas Series

In [9]:
s1 = pd.Series([1,np.nan,1,4, np.nan,6, 8, 0, 0], name = 'example_series')
s1

0    1.0
1    NaN
2    1.0
3    4.0
4    NaN
5    6.0
6    8.0
7    0.0
8    0.0
Name: example_series, dtype: float64

In [10]:
s1.values # 1d array

array([ 1., nan,  1.,  4., nan,  6.,  8.,  0.,  0.])

In [11]:
s1.name

'example_series'

In [12]:
s1.index

RangeIndex(start=0, stop=9, step=1)

In [13]:
s1.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8]

# loading DF from csv

In [14]:
df = pd.read_csv('Cybersecurity_attacks.csv')

In [15]:
df.head(4)

,Attack category,Attack subcategory,Protocol,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,.,Time
0,Reconnaissance,HTTP,tcp,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,.,1421927414-1421927512
1,Exploits,Unix 'r' Service,udp,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,.,1421927415-1421927457
2,Exploits,Browser,tcp,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,.,1421927416-1421927435
3,Exploits,Miscellaneous Batch,tcp,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,.,1421927417-1421927474

In [16]:
df.tail()

,Attack category,Attack subcategory,Protocol,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,.,Time
178026,Generic,IXIA,udp,175.45.176.0,72349,149.171.126.12,53,Microsoft_DNS_Server_ANY_Query_Cache_Weakness_...,CVE 2009-0234 (http://cve.mitre.org/cgi-bin/cv...,.,1424224338-1424224388
178027,Exploits,Browser,sep,175.45.176.3,67647,149.171.126.18,0,Persits XUpload ActiveX Method MakeHttpRequest...,CVE 2009-3693 (http://cve.mitre.org/cgi-bin/cv...,.,1424249567-1424249622
178028,Exploits,Office Document,tcp,175.45.176.0,78359,149.171.126.13,110,Microsoft Excel SxView Memory Corruption (POP3...,CVE 2009-3128 (http://cve.mitre.org/cgi-bin/cv...,.,1424219921-1424220010
178029,Exploits,Browser,tcp,175.45.176.2,68488,149.171.126.19,80,Internet Explorer createTextRange() Code Execu...,CVE 2006-1359 (http://cve.mitre.org/cgi-bin/cv...,.,1424247789-1424247837
178030,Reconnaissance,ICMP,unas,175.45.176.3,77929,149.171.126.19,0,IP Options: Loose Source Route (IP Option 3) (...,NaN,.,1424230421-1424230460

In [17]:
df.sample(5)

,Attack category,Attack subcategory,Protocol,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,.,Time
52367,Fuzzers,OSPF,pgm,175.45.176.3,0,149.171.126.19,0,Fuzzer: OSPF Database Description Packet: Back...,NaN,.,1424230294-1424230376
119416,Reconnaissance,SunRPC Portmapper (UDP) UDP Service,UDP,175.45.176.0,2182,149.171.126.18,111,SunRPC UDP Portmapper GETPORT Request (ypupdat...,NaN,.,1424247817-1424247892
89901,Generic,IXIA,udp,175.45.176.1,47439,149.171.126.18,53,Microsoft_DNS_Server_ANY_Query_Cache_Weakness_...,CVE 2009-0234 (http://cve.mitre.org/cgi-bin/cv...,.,1424238602-1424238633
45642,Exploits,Backup Appliance,tcp,175.45.176.0,42871,149.171.126.18,13722,Veritas Netbackup bpjava-msvc Format String At...,CVE 2005-2715 (http://cve.mitre.org/cgi-bin/cv...,.,1424230189-1424230256
56680,Exploits,Miscellaneous,unas,175.45.176.3,0,149.171.126.19,0,Symantec Intel Alert Management System 2 IAO s...,CVE 2009-1430 (http://cve.mitre.org/cgi-bin/cv...,.,1424230391-1424230424

# dataframe information

In [18]:
df.shape

(178031, 11)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178031 entries, 0 to 178030
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Attack category     178031 non-null  object
 1   Attack subcategory  173839 non-null  object
 2   Protocol            178031 non-null  object
 3   Source IP           178031 non-null  object
 4   Source Port         178031 non-null  int64
 5   Destination IP      178031 non-null  object
 6   Destination Port    178031 non-null  int64
 7   Attack Name         178031 non-null  object
 8   Attack Reference    126286 non-null  object
 9   .                   178031 non-null  object
 10  Time                178031 non-null  object
dtypes: int64(2), object(9)
memory usage: 14.9+ MB

In [20]:
df.dtypes

Attack category       object
Attack subcategory    object
Protocol              object
Source IP             object
Source Port            int64
Destination IP        object
Destination Port       int64
Attack Name           object
Attack Reference      object
.                     object
Time                  object
dtype: object

In [21]:
df.size # number of elements in df

1958341

In [22]:
df.memory_usage() # memory usage of each column in bytes

Index                     128
Attack category       1424248
Attack subcategory    1424248
Protocol              1424248
Source IP             1424248
Source Port           1424248
Destination IP        1424248
Destination Port      1424248
Attack Name           1424248
Attack Reference      1424248
.                     1424248
Time                  1424248
dtype: int64

In [23]:
type(df.memory_usage())

pandas.core.series.Series

In [24]:
df.memory_usage().sum()

15666856

In [25]:
df.count() # counts of non null elements in each column

Attack category       178031
Attack subcategory    173839
Protocol              178031
Source IP             178031
Source Port           178031
Destination IP        178031
Destination Port      178031
Attack Name           178031
Attack Reference      126286
.                     178031
Time                  178031
dtype: int64

In [26]:
df.isna().head()

,Attack category,Attack subcategory,Protocol,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,.,Time
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False

In [27]:
df.isna().sum()

Attack category           0
Attack subcategory     4192
Protocol                  0
Source IP                 0
Source Port               0
Destination IP            0
Destination Port          0
Attack Name               0
Attack Reference      51745
.                         0
Time                      0
dtype: int64

In [28]:
df.nunique()

Attack category           14
Attack subcategory       163
Protocol                 131
Source IP                  4
Source Port            43477
Destination IP            10
Destination Port        3496
Attack Name             7225
Attack Reference        3070
.                          1
Time                  141730
dtype: int64

In [29]:
df.describe()

         Source Port  Destination Port
count  178031.000000     178031.000000
mean    16464.037252       1297.522769
std     22872.732950       7446.794928
min         0.000000      -1199.000000
25%         0.000000          0.000000
50%         0.000000          0.000000
75%     34558.500000         80.000000
max     79999.000000      65535.000000

In [30]:
type(df.describe())

pandas.core.frame.DataFrame

In [31]:
df.duplicated().sum()

0

# series information

In [32]:
s = df['Source Port']

In [33]:
s.head()

0    13284
1    21223
2    23357
3    13792
4    26939
Name: Source Port, dtype: int64

In [34]:
s.tail()

178026    72349
178027    67647
178028    78359
178029    68488
178030    77929
Name: Source Port, dtype: int64

In [35]:
s.sample(3)

42636         0
151357    32219
47422         0
Name: Source Port, dtype: int64

In [36]:
s.describe()

count    178031.000000
mean      16464.037252
std       22872.732950
min           0.000000
25%           0.000000
50%           0.000000
75%       34558.500000
max       79999.000000
Name: Source Port, dtype: float64

In [37]:
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 178031 entries, 0 to 178030
Series name: Source Port
Non-Null Count   Dtype
--------------   -----
178031 non-null  int64
dtypes: int64(1)
memory usage: 1.4 MB

In [38]:
s.size

178031

In [39]:
s.nbytes

1424248

In [40]:
s.shape

(178031,)

In [41]:
s.isna().sum()

0

In [42]:
s.value_counts()

Source Port
0        90891
47439     6710
1043      6707
137        519
68         158
         ...
59821        1
28247        1
36091        1
56147        1
77929        1
Name: count, Length: 43477, dtype: int64

In [43]:
s.unique()

array([13284, 21223, 23357, ..., 78359, 68488, 77929])

In [44]:
s.nunique()

43477

# datatypes

In [45]:
df.dtypes

Attack category       object
Attack subcategory    object
Protocol              object
Source IP             object
Source Port            int64
Destination IP        object
Destination Port       int64
Attack Name           object
Attack Reference      object
.                     object
Time                  object
dtype: object

## supported data types


- object (str or mixed)
- int (int8, int16, int32, int64)
- float (float16, float32, float64)
- bool
- datetime
- timedelta
- category

In [46]:
df3 = pd.DataFrame({'col1':[[1,2,3,4], 
                            [4,5], 
                            [3,3,2]],
                    'col2':[{'k1':2 ,'k2':1}, 
                            {'k1':3, 'k2':3, 'k3':5}, 
                            {'k1':1}],
                    'col3':[(1,2,3), 
                            (4,5), 
                            (1,1,1,1)],
                   'col4':[pd.Series([3,2,3]), 
                           pd.Series([2,3,4,5,6]), 
                           pd.Series([1,2])],
                   'col5':[pd.DataFrame({'one':[1,2], 'two':[3,4]}),
                           pd.DataFrame({'one':[4,5], 'two':[6,7]}),
                           pd.DataFrame({'one':[1,2], 'two':[3,4]})],
                   'col6':[1, 'one', 3.6]})
df3

,col1,col2,col3,col4,col5,col6
0,"[1, 2, 3, 4]","{'k1': 2, 'k2': 1}","(1, 2, 3)",0 3 1 2 2 3 dtype: int64,one two 0 1 3 1 2 4,1
1,"[4, 5]","{'k1': 3, 'k2': 3, 'k3': 5}","(4, 5)",0 2 1 3 2 4 3 5 4 6 dtype: int64,one two 0 4 6 1 5 7,one
2,"[3, 3, 2]",{'k1': 1},"(1, 1, 1, 1)",0 1 1 2 dtype: int64,one two 0 1 3 1 2 4,3.6

In [47]:
df3.dtypes

col1    object
col2    object
col3    object
col4    object
col5    object
col6    object
dtype: object

## changing dtypes

In [48]:
vars_to_cat = ['Attack category', 'Protocol', 'Source IP', 'Destination IP']
df[vars_to_cat] = df[vars_to_cat].astype('category') # category takes less space
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178031 entries, 0 to 178030
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Attack category     178031 non-null  category
 1   Attack subcategory  173839 non-null  object
 2   Protocol            178031 non-null  category
 3   Source IP           178031 non-null  category
 4   Source Port         178031 non-null  int64
 5   Destination IP      178031 non-null  category
 6   Destination Port    178031 non-null  int64
 7   Attack Name         178031 non-null  object
 8   Attack Reference    126286 non-null  object
 9   .                   178031 non-null  object
 10  Time                178031 non-null  object
dtypes: category(4), int64(2), object(5)
memory usage: 10.4+ MB

In [49]:
df.memory_usage()

Index                     128
Attack category        178699
Attack subcategory    1424248
Protocol               361278
Source IP              178235
Source Port           1424248
Destination IP         178411
Destination Port      1424248
Attack Name           1424248
Attack Reference      1424248
.                     1424248
Time                  1424248
dtype: int64

# data preprocessing

## drop columns

In [50]:
df.drop(columns = ['.'], inplace = True)

## process Time variable

In [51]:
df[['start_time', 'end_time']] = df.Time.str.split('-', expand = True)
df.drop(columns = ['Time'], inplace = True)
df.head()

,Attack category,Attack subcategory,Protocol,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,start_time,end_time
0,Reconnaissance,HTTP,tcp,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,1421927414,1421927512
1,Exploits,Unix 'r' Service,udp,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,1421927415,1421927457
2,Exploits,Browser,tcp,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,1421927416,1421927435
3,Exploits,Miscellaneous Batch,tcp,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,1421927417,1421927474
4,Exploits,Cisco IOS,tcp,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,1421927418,1421927529

## creating timediff variable

In [52]:
df['timediff_s'] = (df['end_time'].astype('int') - df['start_time'].astype('int'))

In [53]:
df.head()

,Attack category,Attack subcategory,Protocol,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,start_time,end_time,timediff_s
0,Reconnaissance,HTTP,tcp,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,1421927414,1421927512,98
1,Exploits,Unix 'r' Service,udp,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,1421927415,1421927457,42
2,Exploits,Browser,tcp,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,1421927416,1421927435,19
3,Exploits,Miscellaneous Batch,tcp,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,1421927417,1421927474,57
4,Exploits,Cisco IOS,tcp,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,1421927418,1421927529,111

In [54]:
df.dtypes

Attack category       category
Attack subcategory      object
Protocol              category
Source IP             category
Source Port              int64
Destination IP        category
Destination Port         int64
Attack Name             object
Attack Reference        object
start_time              object
end_time                object
timediff_s               int64
dtype: object

In [55]:
to_datetime_vars = ['start_time', 'end_time']
df[to_datetime_vars] = df[to_datetime_vars].astype('int').apply(pd.to_datetime, unit = 's')
df.head()

,Attack category,Attack subcategory,Protocol,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,start_time,end_time,timediff_s
0,Reconnaissance,HTTP,tcp,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,2015-01-22 11:51:52,98
1,Exploits,Unix 'r' Service,udp,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,2015-01-22 11:50:57,42
2,Exploits,Browser,tcp,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,2015-01-22 11:50:35,19
3,Exploits,Miscellaneous Batch,tcp,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,2015-01-22 11:51:14,57
4,Exploits,Cisco IOS,tcp,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,2015-01-22 11:52:09,111

In [56]:
df.dtypes

Attack category             category
Attack subcategory            object
Protocol                    category
Source IP                   category
Source Port                    int64
Destination IP              category
Destination Port               int64
Attack Name                   object
Attack Reference              object
start_time            datetime64[ns]
end_time              datetime64[ns]
timediff_s                     int64
dtype: object

# index and mutlindex

In [57]:
df.head()

,Attack category,Attack subcategory,Protocol,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,start_time,end_time,timediff_s
0,Reconnaissance,HTTP,tcp,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,2015-01-22 11:51:52,98
1,Exploits,Unix 'r' Service,udp,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,2015-01-22 11:50:57,42
2,Exploits,Browser,tcp,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,2015-01-22 11:50:35,19
3,Exploits,Miscellaneous Batch,tcp,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,2015-01-22 11:51:14,57
4,Exploits,Cisco IOS,tcp,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,2015-01-22 11:52:09,111

## index - rows

In [58]:
df.index

RangeIndex(start=0, stop=178031, step=1)

In [59]:
df.index.tolist()[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## changing index

In [60]:
df.set_index('Protocol', inplace = True)
df.head()

,Attack category,Attack subcategory,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,start_time,end_time,timediff_s
Protocol,,,,,,,,,,,
tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,2015-01-22 11:51:52,98
udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,2015-01-22 11:50:57,42
tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,2015-01-22 11:50:35,19
tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,2015-01-22 11:51:14,57
tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,2015-01-22 11:52:09,111

In [61]:
df.index

CategoricalIndex(['tcp', 'udp', 'tcp', 'tcp', 'tcp', 'tcp', 'tcp', 'tcp',
                  'tcp', 'tcp',
                  ...
                  'trunk-2', 'tcp', 'tcp', 'tcp', 'unas', 'udp', 'sep', 'tcp',
                  'tcp', 'unas'],
                 categories=['3pc', 'Tcp', 'UDP', 'a/n', ..., 'xnet', 'xns-idp', 'xtp', 'zero'], ordered=False, dtype='category', name='Protocol', length=178031)

In [62]:
df.loc['udp', 'start_time':][:5]

                  start_time            end_time  timediff_s
Protocol
udp      2015-01-22 11:50:15 2015-01-22 11:50:57          42
udp      2015-01-22 11:50:26 2015-01-22 11:51:24          58
udp      2015-01-22 11:50:41 2015-01-22 11:52:39         118
udp      2015-01-22 11:50:45 2015-01-22 11:51:14          29
udp      2015-01-22 11:50:49 2015-01-22 11:51:13          24

## reset index

In [63]:
df.reset_index(inplace = True)
df.head()

,Protocol,Attack category,Attack subcategory,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,start_time,end_time,timediff_s
0,tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,2015-01-22 11:51:52,98
1,udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,2015-01-22 11:50:57,42
2,tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,2015-01-22 11:50:35,19
3,tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,2015-01-22 11:51:14,57
4,tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,2015-01-22 11:52:09,111

## columns

In [64]:
df.columns

Index(['Protocol', 'Attack category', 'Attack subcategory', 'Source IP',
       'Source Port', 'Destination IP', 'Destination Port', 'Attack Name',
       'Attack Reference', 'start_time', 'end_time', 'timediff_s'],
      dtype='object')

## multiindex

In [65]:
df_grouped1 = df.groupby(by = ['Attack category', 'Protocol']).agg({'timediff_s':['count', 'mean', 'median'], 
                                                                   'Destination Port':['min', 'max']})
df_grouped1

                          timediff_s                   Destination Port
                               count       mean median              min
Attack category Protocol
 Fuzzers        3pc                2  79.000000   79.0              0.0  \
                Tcp              127  59.614173   47.0             21.0
                UDP              129  57.519380   48.0              0.0
                a/n                2  38.000000   38.0              0.0
                aes-sp3-d          2  39.000000   39.0              0.0
...                              ...        ...    ...              ...
Worms           wsn                0        NaN    NaN              NaN
                xnet               0        NaN    NaN              NaN
                xns-idp            0        NaN    NaN              NaN
                xtp                0        NaN    NaN              NaN
                zero               0        NaN    NaN              NaN


                              max
Attack category Protocol
 Fuzzers        3pc           0.0
                Tcp        1723.0
                UDP        5600.0
                a/n           0.0
                aes-sp3-d     0.0
...                           ...
Worms           wsn           NaN
                xnet          NaN
                xns-idp       NaN
                xtp           NaN
                zero          NaN

[1834 rows x 5 columns]

In [66]:
df_grouped1.index

MultiIndex([(' Fuzzers',       '3pc'),
            (' Fuzzers',       'Tcp'),
            (' Fuzzers',       'UDP'),
            (' Fuzzers',       'a/n'),
            (' Fuzzers', 'aes-sp3-d'),
            (' Fuzzers',       'any'),
            (' Fuzzers',     'argus'),
            (' Fuzzers',      'aris'),
            (' Fuzzers',     'ax.25'),
            (' Fuzzers',   'bbn-rcc'),
            ...
            (   'Worms',      'visa'),
            (   'Worms',      'vmtp'),
            (   'Worms',      'vrrp'),
            (   'Worms',  'wb-expak'),
            (   'Worms',    'wb-mon'),
            (   'Worms',       'wsn'),
            (   'Worms',      'xnet'),
            (   'Worms',   'xns-idp'),
            (   'Worms',       'xtp'),
            (   'Worms',      'zero')],
           names=['Attack category', 'Protocol'], length=1834)

In [67]:
df_grouped1.columns

MultiIndex([(      'timediff_s',  'count'),
            (      'timediff_s',   'mean'),
            (      'timediff_s', 'median'),
            ('Destination Port',    'min'),
            ('Destination Port',    'max')],
           )

# dataframe operations

## creating columns

In [68]:
df['day'] = df['start_time'].dt.day
df['month'] = df['start_time'].dt.month
df['year'] = df['start_time'].dt.year
df['weekday'] = df['start_time'].dt.weekday
df['hour'] = df['start_time'].dt.hour
df['minute'] = df['start_time'].dt.minute
df['second'] = df['start_time'].dt.second

In [69]:
random_numbers = np.random.rand(len(df))
random_numbers[:5], len(random_numbers)

(array([0.14760628, 0.59892067, 0.95335295, 0.03628354, 0.96514239]), 178031)

In [70]:
df['random_numbers'] = random_numbers
df['five'] = 5
df.head()

,Protocol,Attack category,Attack subcategory,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,start_time,...,timediff_s,day,month,year,weekday,hour,minute,second,random_numbers,five
0,tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,...,98,22,1,2015,3,11,50,14,0.147606,5
1,udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,...,42,22,1,2015,3,11,50,15,0.598921,5
2,tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,...,19,22,1,2015,3,11,50,16,0.953353,5
3,tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,...,57,22,1,2015,3,11,50,17,0.036284,5
4,tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,...,111,22,1,2015,3,11,50,18,0.965142,5

In [71]:
wrong_length = np.random.rand(400)
len(wrong_length)

400

In [72]:
try:
    df['wrong_length'] = wrong_length
except Exception as e:
    print(e)

Length of values (400) does not match length of index (178031)

In [73]:
df['timediff_h'] = df['timediff_s']/3600
df['timediff_m'] = df['timediff_s']/60
df.head()

,Protocol,Attack category,Attack subcategory,Source IP,Source Port,Destination IP,Destination Port,Attack Name,Attack Reference,start_time,...,month,year,weekday,hour,minute,second,random_numbers,five,timediff_h,timediff_m
0,tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,...,1,2015,3,11,50,14,0.147606,5,0.027222,1.633333
1,udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,...,1,2015,3,11,50,15,0.598921,5,0.011667,0.700000
2,tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,...,1,2015,3,11,50,16,0.953353,5,0.005278,0.316667
3,tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,...,1,2015,3,11,50,17,0.036284,5,0.015833,0.950000
4,tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,...,1,2015,3,11,50,18,0.965142,5,0.030833,1.850000

## renaming columns

In [74]:
df.rename(columns = {'Attack category':'attack_category',
                     'Attack subcategory':'attack_subcategory',
                     'Protocol':'protocol',
                     'Source IP':'source_ip',
                     'Source Port':'source_port',
                     'Destination IP':'destination_ip',
                     'Destination Port':'destination_port',
                     'Attack Name':'attack_name',
                     'Attack Reference':'attack_reference',
                     'Time':'time'}, inplace = True)

In [75]:
df.columns

Index(['protocol', 'attack_category', 'attack_subcategory', 'source_ip',
       'source_port', 'destination_ip', 'destination_port', 'attack_name',
       'attack_reference', 'start_time', 'end_time', 'timediff_s', 'day',
       'month', 'year', 'weekday', 'hour', 'minute', 'second',
       'random_numbers', 'five', 'timediff_h', 'timediff_m'],
      dtype='object')

## filtering columns

In [76]:
df_filtered = df[['month', 'year', 'day']].head(10)
df_filtered.index = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
df_filtered

       month  year  day
one        1  2015   22
two        1  2015   22
three      1  2015   22
four       1  2015   22
five       1  2015   22
six        1  2015   22
seven      1  2015   22
eight      1  2015   22
nine       1  2015   22
ten        1  2015   22

In [77]:
df_filtered['month']

one      1
two      1
three    1
four     1
five     1
six      1
seven    1
eight    1
nine     1
ten      1
Name: month, dtype: int32

### loc

In [78]:
df.loc[:, 'month':]

,month,year,weekday,hour,minute,second,random_numbers,five,timediff_h,timediff_m
0,1,2015,3,11,50,14,0.147606,5,0.027222,1.633333
1,1,2015,3,11,50,15,0.598921,5,0.011667,0.700000
2,1,2015,3,11,50,16,0.953353,5,0.005278,0.316667
3,1,2015,3,11,50,17,0.036284,5,0.015833,0.950000
4,1,2015,3,11,50,18,0.965142,5,0.030833,1.850000
...,...,...,...,...,...,...,...,...,...,...
178026,2,2015,2,1,52,18,0.498279,5,0.013889,0.833333
178027,2,2015,2,8,52,47,0.057096,5,0.015278,0.916667
178028,2,2015,2,0,38,41,0.999330,5,0.024722,1.483333
178029,2,2015,2,8,23,9,0.845862,5,0.013333,0.800000
178030,2,2015,2,3,33,41,0.817990,5,0.010833,0.650000

In [79]:
df.loc[:, 'month':'hour']

        month  year  weekday  hour
0           1  2015        3    11
1           1  2015        3    11
2           1  2015        3    11
3           1  2015        3    11
4           1  2015        3    11
...       ...   ...      ...   ...
178026      2  2015        2     1
178027      2  2015        2     8
178028      2  2015        2     0
178029      2  2015        2     8
178030      2  2015        2     3

[178031 rows x 4 columns]

In [80]:
df_filtered.loc['five':, :]

       month  year  day
five       1  2015   22
six        1  2015   22
seven      1  2015   22
eight      1  2015   22
nine       1  2015   22
ten        1  2015   22

In [81]:
df_filtered.loc['six':'eight', 'month']

six      1
seven    1
eight    1
Name: month, dtype: int32

### iloc

In [82]:
df.iloc[0, 0]

'tcp'

In [83]:
df.iloc[:, 0]

0          tcp
1          udp
2          tcp
3          tcp
4          tcp
          ...
178026     udp
178027     sep
178028     tcp
178029     tcp
178030    unas
Name: protocol, Length: 178031, dtype: category
Categories (131, object): ['3pc', 'Tcp', 'UDP', 'a/n', ..., 'xnet', 'xns-idp', 'xtp', 'zero']

In [84]:
df.iloc[:5, 0]

0    tcp
1    udp
2    tcp
3    tcp
4    tcp
Name: protocol, dtype: category
Categories (131, object): ['3pc', 'Tcp', 'UDP', 'a/n', ..., 'xnet', 'xns-idp', 'xtp', 'zero']

In [85]:
df.iloc[5:10, 0:3]

  protocol attack_category attack_subcategory
5      tcp             DoS      Miscellaneous
6      tcp             DoS      Miscellaneous
7      tcp         Generic               IXIA
8      tcp        Exploits            Browser
9      tcp        Exploits            Browser

In [86]:
df.iloc[5:10, [0, 3, 4]]

  protocol     source_ip  source_port
5      tcp  175.45.176.0        39500
6      tcp  175.45.176.0        23910
7      tcp  175.45.176.0        29309
8      tcp  175.45.176.0        61089
9      tcp  175.45.176.0         4159

In [87]:
df.iloc[[1, 10, 19998], [0,3,5]]

      protocol     source_ip  destination_ip
1          udp  175.45.176.3  149.171.126.18
10         Tcp  175.45.176.3  149.171.126.12
19998      rdp  175.45.176.0  149.171.126.13

### filtering based on condition

In [88]:
df.loc[df['destination_port'] == 80, 'timediff_s']

0          98
2          19
4         111
5          78
6          26
         ...
177954     46
177976     16
177978     58
177988     24
178029     48
Name: timediff_s, Length: 19629, dtype: int64

In [89]:
condition = df['destination_port'] == 80
df.loc[condition, ['weekday', 'month']]

        weekday  month
0             3      1
2             3      1
4             3      1
5             3      1
6             3      1
...         ...    ...
177954        3      1
177976        3      1
177978        2      2
177988        2      2
178029        2      2

[19629 rows x 2 columns]

In [90]:
condition

0          True
1         False
2          True
3         False
4          True
          ...
178026    False
178027    False
178028    False
178029     True
178030    False
Name: destination_port, Length: 178031, dtype: bool

### assigning values based on filtered condition

In [91]:
df['is_weekend'] = False

In [92]:
df.head()

,protocol,attack_category,attack_subcategory,source_ip,source_port,destination_ip,destination_port,attack_name,attack_reference,start_time,...,year,weekday,hour,minute,second,random_numbers,five,timediff_h,timediff_m,is_weekend
0,tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,...,2015,3,11,50,14,0.147606,5,0.027222,1.633333,False
1,udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,...,2015,3,11,50,15,0.598921,5,0.011667,0.700000,False
2,tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,...,2015,3,11,50,16,0.953353,5,0.005278,0.316667,False
3,tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,...,2015,3,11,50,17,0.036284,5,0.015833,0.950000,False
4,tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,...,2015,3,11,50,18,0.965142,5,0.030833,1.850000,False

In [93]:
df.loc[df['weekday'].isin([5, 6]), 'is_weekend'] = True

In [94]:
df.head()

,protocol,attack_category,attack_subcategory,source_ip,source_port,destination_ip,destination_port,attack_name,attack_reference,start_time,...,year,weekday,hour,minute,second,random_numbers,five,timediff_h,timediff_m,is_weekend
0,tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,...,2015,3,11,50,14,0.147606,5,0.027222,1.633333,False
1,udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,...,2015,3,11,50,15,0.598921,5,0.011667,0.700000,False
2,tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,...,2015,3,11,50,16,0.953353,5,0.005278,0.316667,False
3,tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,...,2015,3,11,50,17,0.036284,5,0.015833,0.950000,False
4,tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,...,2015,3,11,50,18,0.965142,5,0.030833,1.850000,False

### select columns based on data type

In [95]:
df.select_dtypes('bool')

        is_weekend
0            False
1            False
2            False
3            False
4            False
...            ...
178026       False
178027       False
178028       False
178029       False
178030       False

[178031 rows x 1 columns]

### deleting columns

In [96]:
df.drop(columns = ['is_weekend'], inplace = True)

In [97]:
df = df.drop(columns = ['timediff_h']) # without the inplace parameter

## filtering multiindex

In [98]:
df_grouped1.head()

                          timediff_s                   Destination Port
                               count       mean median              min
Attack category Protocol
 Fuzzers        3pc                2  79.000000   79.0              0.0  \
                Tcp              127  59.614173   47.0             21.0
                UDP              129  57.519380   48.0              0.0
                a/n                2  38.000000   38.0              0.0
                aes-sp3-d          2  39.000000   39.0              0.0


                              max
Attack category Protocol
 Fuzzers        3pc           0.0
                Tcp        1723.0
                UDP        5600.0
                a/n           0.0
                aes-sp3-d     0.0

In [99]:
df_grouped1.loc[(['Worms'], ['3pc', 'Tcp']),:]

                         timediff_s                Destination Port
                              count    mean median              min   max
Attack category Protocol
Worms           3pc               0     NaN    NaN              NaN   NaN
                Tcp               8  58.625   55.5             80.0  80.0

In [100]:
df_grouped1.loc[:, (['timediff_s'], ['mean', 'median'])]

                          timediff_s
                                mean median
Attack category Protocol
 Fuzzers        3pc        79.000000   79.0
                Tcp        59.614173   47.0
                UDP        57.519380   48.0
                a/n        38.000000   38.0
                aes-sp3-d  39.000000   39.0
...                              ...    ...
Worms           wsn              NaN    NaN
                xnet             NaN    NaN
                xns-idp          NaN    NaN
                xtp              NaN    NaN
                zero             NaN    NaN

[1834 rows x 2 columns]

# apply method

In [101]:
df.head()

,protocol,attack_category,attack_subcategory,source_ip,source_port,destination_ip,destination_port,attack_name,attack_reference,start_time,...,day,month,year,weekday,hour,minute,second,random_numbers,five,timediff_m
0,tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,...,22,1,2015,3,11,50,14,0.147606,5,1.633333
1,udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,...,22,1,2015,3,11,50,15,0.598921,5,0.700000
2,tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,...,22,1,2015,3,11,50,16,0.953353,5,0.316667
3,tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,...,22,1,2015,3,11,50,17,0.036284,5,0.950000
4,tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,...,22,1,2015,3,11,50,18,0.965142,5,1.850000

### on series

In [102]:
df['second'].apply(np.log)

0         2.639057
1         2.708050
2         2.772589
3         2.833213
4         2.890372
            ...
178026    2.890372
178027    3.850148
178028    3.713572
178029    2.197225
178030    3.713572
Name: second, Length: 178031, dtype: float64

In [103]:
df['second'].apply(lambda x: np.log(x))

0         2.639057
1         2.708050
2         2.772589
3         2.833213
4         2.890372
            ...
178026    2.890372
178027    3.850148
178028    3.713572
178029    2.197225
178030    3.713572
Name: second, Length: 178031, dtype: float64

In [104]:
def check_char(char):
    char = char.strip().lower()
    if 'cisco' in char:
        return 'cisco'
    elif 'windows' in char:
        return 'windows'
    elif 'microsoft' in char:
        return 'microsoft'
    elif 'domino' in char:
        return 'domino'
    else:
        return np.nan

In [105]:
df['attack_name'].apply(lambda x: check_char(x))

0            domino
1               NaN
2           windows
3               NaN
4             cisco
            ...
178026    microsoft
178027          NaN
178028    microsoft
178029          NaN
178030          NaN
Name: attack_name, Length: 178031, dtype: object

### on dataframe

In [106]:
df[['timediff_s', 'timediff_m']].apply(min)

timediff_s    5.000000
timediff_m    0.083333
dtype: float64

In [107]:
df[['timediff_s', 'timediff_m']].apply(np.mean)

timediff_s    58.894833
timediff_m     0.981581
dtype: float64

In [108]:
df[['timediff_s', 'timediff_m']].apply(lambda x: np.mean(x))

timediff_s    58.894833
timediff_m     0.981581
dtype: float64

In [109]:
df[['timediff_s', 'timediff_m']].apply(np.log).head()

   timediff_s  timediff_m
0    4.584967    0.490623
1    3.737670   -0.356675
2    2.944439   -1.149906
3    4.043051   -0.051293
4    4.709530    0.615186

In [110]:
df[['timediff_s', 'timediff_m']].head()

   timediff_s  timediff_m
0          98    1.633333
1          42    0.700000
2          19    0.316667
3          57    0.950000
4         111    1.850000

In [111]:
s_apply = df[['timediff_m', 'timediff_s']].apply(lambda x: f"{x['timediff_m']} minutes or {x['timediff_s']} seconds", axis = 'columns').head()
df['s_apply'] = s_apply
df.head()

,protocol,attack_category,attack_subcategory,source_ip,source_port,destination_ip,destination_port,attack_name,attack_reference,start_time,...,month,year,weekday,hour,minute,second,random_numbers,five,timediff_m,s_apply
0,tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,...,1,2015,3,11,50,14,0.147606,5,1.633333,1.6333333333333333 minutes or 98.0 seconds
1,udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,...,1,2015,3,11,50,15,0.598921,5,0.700000,0.7 minutes or 42.0 seconds
2,tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,...,1,2015,3,11,50,16,0.953353,5,0.316667,0.31666666666666665 minutes or 19.0 seconds
3,tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,...,1,2015,3,11,50,17,0.036284,5,0.950000,0.95 minutes or 57.0 seconds
4,tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,...,1,2015,3,11,50,18,0.965142,5,1.850000,1.85 minutes or 111.0 seconds

# merging dataframes

### merge

In [112]:
df_ports = pd.read_csv('TCP-ports.csv')

In [113]:
df_ports.head()

   Port      Service                   Description
0     0          NaN                      Reserved
1     1       tcpmux  TCP Port Service Multiplexer
2     2  compressnet            Management Utility
3     3  compressnet           Compression Process
4     5          rje              Remote Job Entry

In [114]:
df_ports['Port'].value_counts().max()

1

In [115]:
df_ports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6326 entries, 0 to 6325
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Port         6326 non-null   int64
 1   Service      5725 non-null   object
 2   Description  6248 non-null   object
dtypes: int64(1), object(2)
memory usage: 148.4+ KB

In [116]:
df_merged = df.merge(df_ports, left_on = 'destination_port', right_on = 'Port', how = 'left')

In [117]:
df_merged.shape

(178031, 26)

In [118]:
df_merged.head()

,protocol,attack_category,attack_subcategory,source_ip,source_port,destination_ip,destination_port,attack_name,attack_reference,start_time,...,hour,minute,second,random_numbers,five,timediff_m,s_apply,Port,Service,Description
0,tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,80,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,...,11,50,14,0.147606,5,1.633333,1.6333333333333333 minutes or 98.0 seconds,80.0,http,HTTP
1,udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,32780,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,...,11,50,15,0.598921,5,0.700000,0.7 minutes or 42.0 seconds,NaN,NaN,NaN
2,tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,80,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,...,11,50,16,0.953353,5,0.316667,0.31666666666666665 minutes or 19.0 seconds,80.0,http,HTTP
3,tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,5555,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,...,11,50,17,0.036284,5,0.950000,0.95 minutes or 57.0 seconds,5555.0,personal-agent,Personal Agent
4,tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,80,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,...,11,50,18,0.965142,5,1.850000,1.85 minutes or 111.0 seconds,80.0,http,HTTP

### join

In [119]:
df.set_index('destination_port', inplace = True)
df_ports.set_index('Port', inplace = True)

In [120]:
df.head()

,protocol,attack_category,attack_subcategory,source_ip,source_port,destination_ip,attack_name,attack_reference,start_time,end_time,...,month,year,weekday,hour,minute,second,random_numbers,five,timediff_m,s_apply
destination_port,,,,,,,,,,,,,,,,,,,,,
80,tcp,Reconnaissance,HTTP,175.45.176.0,13284,149.171.126.16,Domino Web Server Database Access: /doladmin.n...,-,2015-01-22 11:50:14,2015-01-22 11:51:52,...,1,2015,3,11,50,14,0.147606,5,1.633333,1.6333333333333333 minutes or 98.0 seconds
32780,udp,Exploits,Unix 'r' Service,175.45.176.3,21223,149.171.126.18,Solaris rwalld Format String Vulnerability (ht...,CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:15,2015-01-22 11:50:57,...,1,2015,3,11,50,15,0.598921,5,0.700000,0.7 minutes or 42.0 seconds
80,tcp,Exploits,Browser,175.45.176.2,23357,149.171.126.16,Windows Metafile (WMF) SetAbortProc() Code Exe...,CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:16,2015-01-22 11:50:35,...,1,2015,3,11,50,16,0.953353,5,0.316667,0.31666666666666665 minutes or 19.0 seconds
5555,tcp,Exploits,Miscellaneous Batch,175.45.176.2,13792,149.171.126.16,HP Data Protector Backup (https://strikecenter...,CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:17,2015-01-22 11:51:14,...,1,2015,3,11,50,17,0.036284,5,0.950000,0.95 minutes or 57.0 seconds
80,tcp,Exploits,Cisco IOS,175.45.176.2,26939,149.171.126.10,Cisco IOS HTTP Authentication Bypass Level 64 ...,CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 11:50:18,2015-01-22 11:52:09,...,1,2015,3,11,50,18,0.965142,5,1.850000,1.85 minutes or 111.0 seconds

In [121]:
df_joined = df.join(df_ports, how = 'left')
df_joined.sample(10)

,protocol,attack_category,attack_subcategory,source_ip,source_port,destination_ip,attack_name,attack_reference,start_time,end_time,...,weekday,hour,minute,second,random_numbers,five,timediff_m,s_apply,Service,Description
destination_port,,,,,,,,,,,,,,,,,,,,,
42,tcp,Exploits,WINS,175.45.176.2,16242,149.171.126.17,Microsoft WINS Service Memory Overwrite (https...,CVE 2004-0567 (http://cve.mitre.org/cgi-bin/cv...,2015-02-18 02:18:29,2015-02-18 02:18:52,...,2,2,18,29,0.538733,5,0.383333,NaN,nameserver,Host Name Server
53,udp,Generic,IXIA,175.45.176.3,47439,149.171.126.18,Microsoft_DNS_Server_ANY_Query_Cache_Weakness_...,CVE 2009-0234 (http://cve.mitre.org/cgi-bin/cv...,2015-02-18 04:27:07,2015-02-18 04:27:45,...,2,4,27,7,0.887336,5,0.633333,NaN,domain,Domain Name Server
21,tcp,Exploits,FTP,175.45.176.1,62182,149.171.126.11,WarFTP Daemon PASS Buffer Overflow (https://st...,CVE 1999-0256 (http://cve.mitre.org/cgi-bin/cv...,2015-01-22 13:33:23,2015-01-22 13:33:45,...,3,13,33,23,0.906853,5,0.366667,NaN,ftp,FTP
0,bna,Generic,IXIA,175.45.176.3,0,149.171.126.19,Linux_Kernel_IPv6_over_IPv4_Memory_Leak_Denial...,CVE 2008-2136 (http://cve.mitre.org/cgi-bin/cv...,2015-02-18 03:30:44,2015-02-18 03:31:15,...,2,3,30,44,0.077286,5,0.516667,NaN,NaN,Reserved
0,unas,Exploits,Miscellaneous,175.45.176.0,0,149.171.126.13,Microsoft Windows Media Services MMS Funnel Na...,CVE 2010-0478 (http://cve.mitre.org/cgi-bin/cv...,2015-02-18 01:34:21,2015-02-18 01:34:42,...,2,1,34,21,0.892634,5,0.350000,NaN,NaN,Reserved
80,tcp,Exploits,Browser,175.45.176.2,62417,149.171.126.12,Mozilla Firefox Javascript Engine 64k Atoms Me...,CVE 2007-0777 (http://cve.mitre.org/cgi-bin/cv...,2015-02-18 06:01:06,2015-02-18 06:01:24,...,2,6,1,6,0.929928,5,0.300000,NaN,http,HTTP
0,unas,Analysis,Port Scanners,175.45.176.3,0,149.171.126.19,Analysis: IP Protocol Scan (https://strikecent...,NaN,2015-02-18 03:33:38,2015-02-18 03:34:47,...,2,3,33,38,0.583404,5,1.150000,NaN,NaN,Reserved
0,unas,DoS,Miscellaneous,175.45.176.1,0,149.171.126.17,Doms Httpd Denial of Service (https://strikece...,OSVDB 84104 (http://www.osvdb.org/84104)CVSS-M...,2015-02-18 07:27:21,2015-02-18 07:28:54,...,2,7,27,21,0.616298,5,1.550000,NaN,NaN,Reserved
0,swipe,DoS,Miscellaneous,175.45.176.0,0,149.171.126.17,Linux Kernel IPv6 Netfilter nf_ct_frag6_reasm ...,CVE 2012-2744 (http://cve.mitre.org/cgi-bin/cv...,2015-02-18 09:26:50,2015-02-18 09:27:29,...,2,9,26,50,0.365669,5,0.650000,NaN,NaN,Reserved
53,udp,Generic,IXIA,175.45.176.1,47439,149.171.126.18,Microsoft_DNS_Server_ANY_Query_Cache_Weakness_...,CVE 2009-0234 (http://cve.mitre.org/cgi-bin/cv...,2015-02-18 05:59:10,2015-02-18 06:00:17,...,2,5,59,10,0.394182,5,1.116667,NaN,domain,Domain Name Server

In [122]:
df_joined.shape

(178031, 24)

### concat

In [123]:
cols_to_strip = ['attack_category', 'attack_subcategory', 'protocol', 'attack_name', 'attack_reference']
df[cols_to_strip] = df[cols_to_strip].apply(lambda x: x.str.strip())

In [124]:
df_union1 = df.loc[df['attack_category'] == 'Reconnaissance', :]
df_union2 = df.loc[df['attack_category'] == 'Exploits', :]
df_union3 = df.loc[df['attack_category'] == 'Fuzzers', :]

In [125]:
df_union1.shape, df_union2.shape, df_union3.shape

((20571, 22), (69588, 22), (34361, 22))

In [126]:
df_union = pd.concat([df_union1, df_union2, df_union3], axis = 0)
df_union.shape

(124520, 22)

# summarising data

## pivot_table

In [127]:
df.pivot_table(index = 'protocol',
               columns = 'attack_category',
               values = 'timediff_s',
               aggfunc = 'mean')

attack_category,Analysis,Backdoor,Backdoors,DoS,Exploits,Fuzzers,Generic,Reconnaissance,Shellcode,Worms
protocol,,,,,,,,,,
3pc,70.857143,69.705882,22.000000,61.978723,54.741176,58.116667,52.272727,61.871795,NaN,NaN
Tcp,73.266667,57.916667,64.142857,58.116883,57.468775,58.634740,61.051852,58.732087,54.160000,58.625
UDP,NaN,66.375000,44.000000,59.781250,53.333333,64.866508,56.844358,57.012950,52.732759,43.500
a/n,29.000000,65.411765,92.000000,57.021277,51.629412,55.067797,46.909091,65.777778,NaN,NaN
aes-sp3-d,53.857143,52.882353,46.000000,54.130435,60.976879,53.590164,49.000000,63.750000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
wsn,57.000000,48.529412,20.000000,50.276596,56.614035,58.389831,51.636364,48.756757,NaN,NaN
xnet,52.428571,70.176471,22.000000,55.053763,53.923529,57.644068,48.545455,53.638889,NaN,NaN
xns-idp,72.714286,54.117647,26.000000,56.173913,59.239766,63.666667,53.636364,63.621622,NaN,NaN
xtp,68.428571,53.294118,48.000000,59.197802,56.315789,59.233333,61.090909,56.368421,NaN,NaN
zero,73.714286,52.944444,27.000000,50.527473,63.801170,63.033898,58.181818,62.777778,NaN,NaN

In [128]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_pivot1 = df.pivot_table(index = 'protocol',
               columns = 'attack_category',
               values = 'timediff_s',
               aggfunc = ['mean', 'count'])
df_pivot1.head(5)

                      mean
attack_category   Analysis   Backdoor  Backdoors        DoS   Exploits
protocol
3pc              70.857143  69.705882  22.000000  61.978723  54.741176  \
Tcp              73.266667  57.916667  64.142857  58.116883  57.468775
UDP                    NaN  66.375000  44.000000  59.781250  53.333333
a/n              29.000000  65.411765  92.000000  57.021277  51.629412
aes-sp3-d        53.857143  52.882353  46.000000  54.130435  60.976879


attack_category    Fuzzers    Generic Reconnaissance  Shellcode   Worms
protocol
3pc              58.116667  52.272727      61.871795        NaN     NaN  \
Tcp              58.634740  61.051852      58.732087  54.160000  58.625
UDP              64.866508  56.844358      57.012950  52.732759  43.500
a/n              55.067797  46.909091      65.777778        NaN     NaN
aes-sp3-d        53.590164  49.000000      63.750000        NaN     NaN

                   count
attack_category Analysis Backdoor Backdoors    DoS Exploits Fuzzers Generic
protocol
3pc                  7.0     17.0       1.0   94.0    170.0    60.0    11.0  \
Tcp                 15.0     12.0       7.0  154.0   1265.0   616.0   135.0
UDP                  NaN      8.0       1.0   64.0    102.0   839.0  2056.0
a/n                  7.0     17.0       1.0   94.0    170.0    59.0    11.0
aes-sp3-d            7.0     17.0       1.0   92.0    173.0    61.0    11.0


attack_category Reconnaissance Shellcode Worms
protocol
3pc                       39.0       NaN   NaN
Tcp                      321.0      25.0   8.0
UDP                      695.0     116.0   4.0
a/n                       36.0       NaN   NaN
aes-sp3-d                 36.0       NaN   NaN

In [129]:
df_pivot1 = df.pivot_table(index = ['protocol', 'source_ip'],
               columns = 'attack_category',
               values = 'timediff_s',
               aggfunc = ['mean', 'count'])
df_pivot1.head(5)

                          mean
attack_category       Analysis    Backdoor Backdoors        DoS   Exploits
protocol source_ip
3pc      175.45.176.0     43.0   34.666667       NaN  62.733333  52.653061  \
         175.45.176.1     88.0  105.000000      22.0  61.593750  53.862069
         175.45.176.2    111.0  121.500000       NaN  69.058824  55.827586
         175.45.176.3     35.0         NaN       NaN  53.266667  58.323529
Tcp      175.45.176.0      NaN   57.375000      57.0  59.666667  57.367925


attack_category          Fuzzers    Generic Reconnaissance  Shellcode Worms
protocol source_ip
3pc      175.45.176.0  61.241379  63.500000      58.923077        NaN   NaN  \
         175.45.176.1  53.000000  60.500000      69.444444        NaN   NaN
         175.45.176.2  54.000000  27.000000      53.000000        NaN   NaN
         175.45.176.3  62.666667  25.000000      68.125000        NaN   NaN
Tcp      175.45.176.0  62.362500  58.694444      57.670886  58.857143  91.0

                         count
attack_category       Analysis Backdoor Backdoors DoS Exploits Fuzzers
protocol source_ip
3pc      175.45.176.0        2        9         0  30       49      29  \
         175.45.176.1        3        6         1  32       58      15
         175.45.176.2        1        2         0  17       29      10
         175.45.176.3        1        0         0  15       34       6
Tcp      175.45.176.0        0        8         2  27      318     160


attack_category       Generic Reconnaissance Shellcode Worms
protocol source_ip
3pc      175.45.176.0       4             13         0     0
         175.45.176.1       4              9         0     0
         175.45.176.2       2              9         0     0
         175.45.176.3       1              8         0     0
Tcp      175.45.176.0      36             79         7     2

## crosstab

In [130]:
df_crosstab = pd.crosstab(index = df['protocol'],
               columns = df['attack_category'],
               values = df['timediff_s'],
               aggfunc = 'sum')
df_crosstab.head(5)

attack_category,Analysis,Backdoor,Backdoors,DoS,Exploits,Fuzzers,Generic,Reconnaissance,Shellcode,Worms
protocol,,,,,,,,,,
3pc,496.0,1185.0,22.0,5826.0,9306.0,3487.0,575.0,2413.0,NaN,NaN
Tcp,1099.0,695.0,449.0,8950.0,72698.0,36119.0,8242.0,18853.0,1354.0,469.0
UDP,NaN,531.0,44.0,3826.0,5440.0,54423.0,116872.0,39624.0,6117.0,174.0
a/n,203.0,1112.0,92.0,5360.0,8777.0,3249.0,516.0,2368.0,NaN,NaN
aes-sp3-d,377.0,899.0,46.0,4980.0,10549.0,3269.0,539.0,2295.0,NaN,NaN

## groupby

In [131]:
df_merged.groupby(by = 'protocol')['timediff_s'].mean()\
    .sort_values(ascending = False)\
    .head(10)

protocol
ospf    84.298069
rvd     67.762626
st2     61.917293
mux     60.477273
cftp    60.376884
mhrp    60.169192
tcf     59.995025
zero    59.956853
sctp    59.898065
visa    59.871537
Name: timediff_s, dtype: float64

In [132]:
df_merged.groupby(by = 'attack_category')['timediff_s'].nlargest(3).head(12)

attack_category
 Fuzzers          12811     229
                  4503      227
                  10171     217
 Fuzzers          88957     324
                  71486     277
                  42341     267
 Reconnaissance   172888    310
                  143312    252
                  49886     250
 Shellcode        140963    235
                  64046     226
                  93278     212
Name: timediff_s, dtype: int64

In [133]:
df_merged.groupby(by = 'attack_category')['timediff_s'].max()

attack_category
 Fuzzers            229
 Fuzzers            324
 Reconnaissance     310
 Shellcode          235
Analysis            229
Backdoor            268
Backdoors           161
DoS                 283
Exploits            277
Generic             299
Reconnaissance      218
Reconnaissance       24
Shellcode           209
Worms               170
Name: timediff_s, dtype: int64

In [134]:
df_merged.groupby(by = ['attack_category']).apply(lambda x: x.sort_values(by = 'timediff_s', ascending = False).head(3)).head(12)

                        protocol   attack_category attack_subcategory
attack_category
 Fuzzers         12811       udp           Fuzzers             Syslog  \
                 4503        udp           Fuzzers                RIP
                 10171       udp           Fuzzers                RIP
 Fuzzers         88957      ospf          Fuzzers                OSPF
                 71486       pim          Fuzzers                OSPF
                 42341       tcp          Fuzzers                 BGP
 Reconnaissance  172888     ospf   Reconnaissance                ICMP
                 143312     ospf   Reconnaissance                ICMP
                 49886       pvp   Reconnaissance                ICMP
 Shellcode       140963      tcp        Shellcode                BSDi
                 64046       udp        Shellcode                 BSD
                 93278       tcp        Shellcode             Solaris

                            source_ip  source_port  destination_ip
attack_category
 Fuzzers         12811   175.45.176.3        47975  149.171.126.17  \
                 4503    175.45.176.0         7326  149.171.126.13
                 10171   175.45.176.0         9030  149.171.126.11
 Fuzzers         88957   175.45.176.1            0  149.171.126.17
                 71486   175.45.176.3            0  149.171.126.17
                 42341   175.45.176.1         7265  149.171.126.11
 Reconnaissance  172888  175.45.176.3            0  149.171.126.10
                 143312  175.45.176.1            0  149.171.126.14
                 49886   175.45.176.3            0  149.171.126.19
 Shellcode       140963  175.45.176.3        38222  149.171.126.10
                 64046   175.45.176.3         5925  149.171.126.19
                 93278   175.45.176.0        41294  149.171.126.19

                         destination_port
attack_category
 Fuzzers         12811                514  \
                 4503                 520
                 10171                520
 Fuzzers         88957                  0
                 71486                  0
                 42341                179
 Reconnaissance  172888                 0
                 143312                 0
                 49886                  0
 Shellcode       140963             12429
                 64046               6092
                 93278               1316

                                                               attack_name
attack_category
 Fuzzers         12811   Fuzzer: Syslog Invalid Hostname (Numeric) (htt...  \
                 4503    Fuzzer: RIP Passwords (https://strikecenter.bp...
                 10171   Fuzzer: RIP Number of Entries (https://strikec...
 Fuzzers         88957   Fuzzer: OSPF Hello Packet: Long Neighbor Lists...
                 71486   Fuzzer: OSPF Link State Request Packet: Long P...
                 42341   BGP Open: Params: Long Parameter Fields (https...
 Reconnaissance  172888  IP Options: Extended Security (IP Option 5) (h...
                 143312  IP Options: Strict Source Route (IP Option 9) ...
                 49886   IP Options: Time Stamp (IP Option 4) (https://...
 Shellcode       140963  Shellcode: BSDi x86 Shell - vade97 (TCP) (http...
                 64046   Shellcode: BSD x86 FindSock Shell - metasploit...
                 93278   Shellcode: Solaris x86 Bind Shell - metasploit...

                                                          attack_reference
attack_category
 Fuzzers         12811                                                   -  \
                 4503                                                    -
                 10171                                                   -
 Fuzzers         88957                                                 NaN
                 71486                                                 NaN
                 42341                                                 NaN
 Reconnaissance  172888                                                NaN
                 143312                                                NaN
                 49886                                                 NaN
 Shellcode       140963  http://www.milw0rm.com/shellcode/510 (http%3a%...
                 64046                                                 NaN
                 93278                                                 NaN

                                 start_time            end_time  timediff_s
attack_category
 Fuzzers         12811  2015-01-22 13:28:27 2015-01-22 13:32:16         229  \
                 4503   2015-01-22 12:34:45 2015-01-22 12:38:32         227
                 10171  2015-01-22 13:08:20 2015-01-22 13:11:57         217
 Fuzzers         88957  2015-02-18 05:43:53 2015-02-18 05:49:17         324
                 71486  2015-02-18 04:56:41 2015-02-18 05:01:18         277
                 42341  2015-02-18 02:58:29 2015-02-18 03:02:56         267
 Reconnaissance  172888 2015-02-18 12:12:11 2015-02-18 12:17:21         310
                 143312 2015-02-18 10:04:33 2015-02-18 10:08:45         252
                 49886  2015-02-18 03:31:03 2015-02-18 03:35:13         250
 Shellcode       140963 2015-02-18 09:47:50 2015-02-18 09:51:45         235
                 64046  2015-02-18 04:02:35 2015-02-18 04:06:21         226
                 93278  2015-02-18 06:12:34 2015-02-18 06:16:06         212

                         day  month  year  weekday  hour  minute  second
attack_category
 Fuzzers         12811    22      1  2015        3    13      28      27  \
                 4503     22      1  2015        3    12      34      45
                 10171    22      1  2015        3    13       8      20
 Fuzzers         88957    18      2  2015        2     5      43      53
                 71486    18      2  2015        2     4      56      41
                 42341    18      2  2015        2     2      58      29
 Reconnaissance  172888   18      2  2015        2    12      12      11
                 143312   18      2  2015        2    10       4      33
                 49886    18      2  2015        2     3      31       3
 Shellcode       140963   18      2  2015        2     9      47      50
                 64046    18      2  2015        2     4       2      35
                 93278    18      2  2015        2     6      12      34

                         random_numbers  five  timediff_m s_apply    Port
attack_category
 Fuzzers         12811         0.114523     5    3.816667     NaN   514.0  \
                 4503          0.373628     5    3.783333     NaN   520.0
                 10171         0.703589     5    3.616667     NaN   520.0
 Fuzzers         88957         0.565599     5    5.400000     NaN     0.0
                 71486         0.601543     5    4.616667     NaN     0.0
                 42341         0.379117     5    4.450000     NaN   179.0
 Reconnaissance  172888        0.431280     5    5.166667     NaN     0.0
                 143312        0.425742     5    4.200000     NaN     0.0
                 49886         0.889029     5    4.166667     NaN     0.0
 Shellcode       140963        0.690279     5    3.916667     NaN     NaN
                 64046         0.430571     5    3.766667     NaN     NaN
                 93278         0.525421     5    3.533333     NaN  1316.0

                            Service
attack_category
 Fuzzers         12811       syslog  \
                 4503        router
                 10171       router
 Fuzzers         88957          NaN
                 71486          NaN
                 42341          bgp
 Reconnaissance  172888         NaN
                 143312         NaN
                 49886          NaN
 Shellcode       140963         NaN
                 64046          NaN
                 93278   exbit-escp

                                                               Description
attack_category
 Fuzzers         12811                                                 NaN
                 4503    local routing process (on site); uses variant ...
                 10171   local routing process (on site); uses variant ...
 Fuzzers         88957                                            Reserved
                 71486                                            Reserved
                 42341                                                 BGP
 Reconnaissance  172888                                           Reserved
                 143312                                           Reserved
                 49886                                            Reserved
 Shellcode       140963                                                NaN
                 64046                                                 NaN
                 93278                                          Exbit-ESCP

In [135]:
df_merged.groupby(by = 'weekday').agg({'timediff_s':['sum', 'count', 'mean', 'median']})

        timediff_s
               sum   count       mean median
weekday
2          9611170  162956  58.980154   50.0
3           873936   15075  57.972537   49.0

In [136]:
df_agg = df_merged.groupby(by = ['weekday', 'day', 'hour']).agg({'timediff_s':['sum', 'count', 'mean', 'median'],
                                                       'Service':['count']})
df_agg

                 timediff_s                          Service
                        sum  count       mean median   count
weekday day hour
2       18  0         79482   1368  58.100877   49.0     920
            1       1096580  19214  57.071927   48.0    5346
            2        492544   7989  61.652773   52.0    5904
            3       1225609  21363  57.370641   48.0    5780
            4        509106   8319  61.197981   51.0    6354
            5       1149244  19964  57.565818   48.0    5878
            6        510710   8157  62.610028   54.0    5966
            7        983231  17118  57.438427   48.0    6011
            8        536345   8209  65.336216   55.0    5924
            9       1102306  19102  57.706313   49.0    5691
            10       503162   7918  63.546603   54.0    5619
            11      1209502  21005  57.581623   49.0    5935
            12       213349   3230  66.052322   57.0    2320
3       22  11        65577   1143  57.372703   48.0    1071
            12       464360   8050  57.684472   49.0    6120
            13       343999   5882  58.483339   49.0    5493

In [137]:
df_agg.columns

MultiIndex([('timediff_s',    'sum'),
            ('timediff_s',  'count'),
            ('timediff_s',   'mean'),
            ('timediff_s', 'median'),
            (   'Service',  'count')],
           )

In [138]:
cols = [f'{x[0]}_{x[1]}' for x in df_agg.columns.tolist()]
df_agg.columns = cols
df_agg.head()

                  timediff_s_sum  timediff_s_count  timediff_s_mean
weekday day hour
2       18  0              79482              1368        58.100877  \
            1            1096580             19214        57.071927
            2             492544              7989        61.652773
            3            1225609             21363        57.370641
            4             509106              8319        61.197981

                  timediff_s_median  Service_count
weekday day hour
2       18  0                  49.0            920
            1                  48.0           5346
            2                  52.0           5904
            3                  48.0           5780
            4                  51.0           6354

# styling dataframes

In [139]:
df_agg.style.format({'timediff_s_mean':'{:.2f}',
                    'timediff_s_median':'{:.2f}'})\
    .bar(subset = 'timediff_s_sum', color = 'lightgreen')\
    .bar(subset = 'timediff_s_count', color = 'orange')\
    .background_gradient(subset = 'timediff_s_mean', cmap = 'Blues')\
    .background_gradient(subset = 'Service_count', cmap = 'brg')

# saving to disk

In [140]:
df_agg.to_csv('df_agg.csv', header = True, index = True)